.responses-input {
    height: 200px;
    color: rgb(241, 241, 241);
}

TextField > TextInput {
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    border-color: rgb(21, 21, 21);
    color: rgb(241, 241, 241);
    caret-color: rgb(241, 241, 241);
}

Label {
    color: rgb(241, 241, 241);
}

.unity-button {
    border-radius: 15px;
    margin: 5px;
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    width: 200px;
    color: rgb(241, 241, 241);
    max-width: 200px;
    min-width: 200px;
    padding: 5px;
    border-color: rgb(19, 19, 19);
    background-color: rgb(26, 26, 26);
    -unity-text-align: middle-center;
}

.beam-input-small {
    width: 300px;
    margin: 10px;
}
